*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(220, 220, 248);
}
.cardview{
    position: relative;
    top: 10%;
    margin:auto;
    width: 60%;
    height: 80%;
    background-color: #fffee4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 1%;
    transition: all 2s;
    /* transition: transform 2s; */

}


.headtext{
    position: relative;
    padding-top: 2%;
    font-family:Arial, Helvetica, sans-serif;
}
.headdiv{
    position: relative;
    width: 100%;
    height: 10%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    /* background-color: blueviolet; */
}
.bodydiv{
    position: relative;
    width: 90%;
    height: 80%;
    margin: auto;
    margin-top: 3%;

    /* background-color: blue; */
}
.inputs{
    position: relative;
    margin: auto;
    margin-top: 8%;
    border: none;
    width: 60%;
    height: 8%;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    /* border-bottom:2px solid gray ; */
    display: block;
    outline:none;
    text-align: center;
    /* background-color: #fffee4; */
    

}
.inputbtns{
    position: relative;
    margin: auto;
    margin-top: 5%;
    width: 40%;
    height: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #37D5D6;
    color: white;
    outline: none;
    border:none;

}
.cardview2{
    z-index: -1;
    position: absolute;
    top: 10%;
    margin:auto;
    margin-left: 20%;
    width: 60%;
    height: 80%;
    background-color: #fffee4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 1%;
    transition: all 2s;
}
.inputbtns2{
    position: relative;
    margin: auto;
    margin-top: 10%;
    width: 40%;
    height: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #37D5D6;
    color: white;
    outline: none;
    border:none;

}
p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
}
p:hover{
    cursor: pointer;
}


 